<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
  <% if @reader && Favorite.exists?(book_id: @book.id, reader_id: @reader.id) %>
      <%= render 'favorites/remove_from_favorites' %>
                                  
  <% elsif @reader && !Favorite.exists?(book_id: @book.id, reader_id: @reader.id) %>
      <%= render 'favorites/add_to_favorites' %>
  <% end %>
  
  
  
  
  
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
